.access-main {
  background: #240053;
  font-family: "Cabinet Grotesk";
  .container {
    .main-body {
      width: 80%;
      margin: 40px auto;
      color: #ffffff;

      h1 {
        font-weight: 800;
        font-size: 60px;
        line-height: 100px;
      }

      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 32px;
      }

      .btn-section {
        display: flex;

        button {
          border: 0.5 solid #ffffff;
          border-radius: 20px;
          color: #ffffff;
          background: #240053;
          padding: 5px 20px;
          margin: 20px 0;
        }
      }

      .card-section {
        margin: 20px auto;
        background: #29014b;
        box-shadow: 0px 10px 35px rgba(6, 46, 253, 0.25),
          0px 15px 70px rgba(251, 64, 64, 0.25),
          0px 30px 90px rgba(136, 7, 247, 0.5);
        border-radius: 4px;

        .items {
          margin: 0 20px;
          padding: 15px 20px;

          p {
            color: #ffffff;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
          }

          .title-text {
            margin: 20px 0;
            padding: 10px;
          }

          .icon1 {
            width: 40px;
            height: 40px;
            margin-bottom: 60px;
            border-radius: 50%;
            background: #eab308;
            text-align: center;
            padding: 3px;
            font-size: 18px;
            box-shadow: 0px 40px 50px 2px #eab308;
          }

          .icon2 {
            width: 40px;
            height: 40px;
            margin-bottom: 60px;
            border-radius: 50%;
            background: #e8356d;
            text-align: center;
            padding: 3px;
            font-size: 18px;
            box-shadow: 0px 40px 50px 2px #e8356d;
          }

          .icon3 {
            width: 40px;
            height: 40px;
            margin-bottom: 60px;
            border-radius: 50%;
            background: #8807f7;
            text-align: center;
            padding: 3px;
            font-size: 18px;
            box-shadow: 0px 40px 50px 2px #8807f7;
          }

          .icon4 {
            width: 40px;
            height: 40px;
            margin-bottom: 60px;
            border-radius: 50%;
            background: #22c55e;
            text-align: center;
            padding: 3px;
            font-size: 18px;
            box-shadow: 0px 40px 50px 2px #22c55e;
          }

          .link-text {
            margin: 20px 0;
            padding: 10px 0;

            a {
              text-decoration: none;
              color: #ffffff;
            }

            :hover {
              color: rgb(43, 43, 243);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .access-main {
    .container {
      .main-body {
        width: 100%;

        text-align: center;

        h1 {
          font-weight: 800;
          font-size: 50px;
          line-height: 70px;
          padding: 20px 0;
        }

        p {
          border: 1px solid #240053;
        }

        .btn-section {
          display: flex;
          justify-content: center;
        }
      }

    }
  }
}
