
.access-main{
    background: #240053;
    .container{
        text-align: center;

        .main-body{
            width: 80%;
            margin: auto;
            color: #ffffff;

            .btn-section{
                display: flex;

            }

            .card-sect{
                
                p{
                    color: #ffffff;
                }
            }
        }
    }
}