.header-section {
  // height: 898px;
  background: #240053;

  .header-hero-text {
    text-align: center;
    padding: 30px 0;
    width: 60%;
    margin: auto;

    h1 {
      font-weight: 800;
      font-size: 65px;
      background: linear-gradient(
        91.7deg,
        #ffeb35 7.5%,
        rgba(25, 253, 130, 0.99) 107.24%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    p {
      color: #ffffff;
      font-weight: 500;
      font-size: 15px;
      line-height: 32px;
      text-align: center;
    }
  }

  .get-started {
    text-align: center;

    .btn-started {
      padding: 15px 48px;
      font-weight: 500;
      font-size: 15px;
      background: #ffffff;
      border-radius: 100px;
    }
  }

  .droid-section {
    display: flex;
    justify-content: center;
    margin: 35px 0;
    padding: 20px 0;

    .left-droid,
    .right-droid {
      width: 200px;
      height: 350px;
      border: 1px solid #ffffff;
      margin: 10px;
      border-radius: 38.3957px;
    }

    .left-droid {
      background: #ffffff;
      transform: rotate(-14.91deg);
      margin: 0 10px;
      width: 312px;
      .inner-img {
        height: 400px;
        width: 312px;
        padding: 20px;
        border-radius: 32px 32px 0px 0px;
        background: #ffffff;

        .mobile-header {
          display: flex;
          justify-content: space-between;

          button {
            width: 100px;
            height: 30px;
            background: #3d0072;
            border: none;
            border-radius: 30px;
            transform: matrix(1, 0.01, -0.01, 1, 0, 0);
          }
        }
        .battery {
          display: flex;
          div {
            margin: 0 3px;
            font-size: 14px;
          }
        }

        .time {
          span {
            font-weight: 800;
            color: #000000;
          }
        }
        .mobile-title {
          margin-top: 20px;

          h4 {
            color: #3d0072;
            font-size: 30px;
            font-weight: 700;
          }
        }

        .account-balance {
          margin: 20px;
          background: #fffdf2;
        }
        .quick-links {
          display: flex;
          justify-content: center;
          .icon1 {
            border-radius: 10px;
            margin: 4px;
            width: 80px;
            height: 50px;
            padding-top: 10px;
            font-size: 18px;
            background: #fce8ee;
            color: #e8356d;
            transform: matrix(1, 0.01, -0.01, 1, 0, 0);
          }
          .icon2 {
            border-radius: 10px;
            margin: 4px;
            width: 80px;
            height: 50px;
            padding-top: 10px;
            font-size: 18px;
            background: #fefce8;
            color: #eab308;
            transform: matrix(1, 0.01, -0.01, 1, 0, 0);
          }
          .icon3 {
            border-radius: 10px;
            margin: 4px;
            width: 80px;
            height: 50px;
            padding-top: 10px;
            font-size: 18px;
            background: #f3e6fe;
            color: #8807f7;
            transform: matrix(1, 0.01, -0.01, 1, 0, 0);
          }
        }
        .search {
          margin: 10px 0;

          span {
            font-size: 18px;
          }
        }

        .friends {
          display: flex;
          justify-content: space-around;
        }
      }
    }

    .right-droid {
      background: #8807f7;
      transform: rotate(14deg);
      margin: 0 20px;
      width: 312px;
      .inner-img {
        height: 400px;
        width: 312px;
        padding: 10px;
        border-radius: 32px 32px 0px 0px;
        background: #8807f7;

        .mobile-header {
          padding: 5px;
          display: flex;
          justify-content: space-between;

          button {
            width: 100px;
            height: 30px;
            background: #3d0072;
            border: none;
            border-radius: 30px;
            transform: matrix(1, 0.01, -0.01, 1, 0, 0);
          }
        }
        .battery {
          display: flex;
          div {
            margin: 0 3px;
            font-size: 14px;
            color: #ffffff;
          }
        }

        .time {
          span {
            font-weight: 800;
            color: #ffffff;
          }
        }
        .account-balance {
          margin: 20px;
          background: #8807f7;
          color: #ffffff;
          
          text-align: center;
          
          h6{
            font-size: 28px;
            font-weight: 500;
          }
        }
        .friends {
          margin: 40px 0;
          display: flex;
          justify-content: center;   
          img {
            width: 70px;
            height: 70px;
          }
        }
        .counts{
          display: flex;
          justify-content: space-between;
          margin: 10px 0;
          color: #ffffff;
          padding: 0 10px;
          span{
            font-size: 28px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .header-section {
    background: #240053;
    padding: 35px;
    .header-hero-text {
      text-align: center;
      padding: 10px 5px;
      width: 100%;

      h1 {
        font-weight: 800;
        font-size: 45px;
        background: linear-gradient(
          91.7deg,
          #ffeb35 7.5%,
          rgba(25, 253, 130, 0.99) 107.24%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }

      p {
        color: #ffffff;
        font-weight: 500;
        font-size: 15px;
        line-height: 32px;
        text-align: center;
      }
    }

    .get-started {
      text-align: center;

      .btn-started {
        padding: 5px 28px;
        font-weight: 500;
        font-size: 15px;
        background: #ffffff;
        border-radius: 100px;
      }
    }

    .droid-section {
      display: none;
    }
  }
}
