.header-section {
  // height: 898px;
  background: #240053;

  .header-hero-text {
    text-align: center;
    padding: 30px 0;
    width: 60%;
    margin: auto;

    h1 {
      font-weight: 800;
      font-size: 65px;
      background: linear-gradient(
        91.7deg,
        #ffeb35 7.5%,
        rgba(25, 253, 130, 0.99) 107.24%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    p {
      color: #ffffff;
      font-weight: 500;
      font-size: 15px;
      line-height: 32px;
      text-align: center;
    }
  }

  .get-started {
    text-align: center;

    .btn-started {
      padding: 15px 48px;
      font-weight: 500;
      font-size: 15px;
      background: #ffffff;
      border-radius: 100px;
    }
  }

  .droid-section {
    display: flex;
    justify-content: center;
    margin: 35px 0;
    padding: 20px 0;

    .left-droid,
    .right-droid {
      width: 200px;
      height: 350px;
      border: 1px solid #ffffff;
      margin: 10px;
      border-radius: 38.3957px;
    }

    .left-droid {
      background: #ffffff;
      transform: rotate(-14.91deg);
    }

    .right-droid {
      background: #8807f7;
      transform: rotate(15deg);
    }
  }
}

@media screen and (max-width: 500px){
  .header-section {
    background: #240053;
    padding: 35px;
    .header-hero-text {
      text-align: center;
      padding: 10px 5px;
      width: 100%;
    
  
      h1 {
        font-weight: 800;
        font-size: 45px;
        background: linear-gradient(
          91.7deg,
          #ffeb35 7.5%,
          rgba(25, 253, 130, 0.99) 107.24%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
  
      p {
        color: #ffffff;
        font-weight: 500;
        font-size: 15px;
        line-height: 32px;
        text-align: center;
      }
    }
  
    .get-started {
      text-align: center;
  
      .btn-started {
        padding: 5px 28px;
        font-weight: 500;
        font-size: 15px;
        background: #ffffff;
        border-radius: 100px;
      }
    }
  
    .droid-section {
      display: none;
    }
  }
}
