
.header-section{
    
    // height: 898px;
    background: #240053;

    .header-hero-text{
        text-align: center;
        padding: 30px 0;
        width: 60%;
        margin: auto;
        // border: 1px solid white;
        h1{
            color: linear-gradient(91.7deg, #FFEB35 7.5%, rgba(25, 253, 130, 0.99) 107.24%);
            font-weight: 800;
            font-size: 65px; 
           
        }

        span{
            color: #ffffff;
            font-weight: 500;
            font-size: 15px;
            line-height: 32px;
            text-align: center;
        }
    }

    .get-started{
        text-align: center;
        margin: 10px 0;
       
        .btn-started{
            padding: 15px 48px;
            font-weight: 500;
            font-size: 15px;
            background: #FFFFFF;
            border-radius: 100px;
            margin: 10px 0;

        }
    }

    .droid-section{
        display: flex;
        justify-content: center;
        margin: 35px 0;
        padding: 20px 0;

        .left-droid,
        .right-droid{
            width: 200px;
            height: 350px;
            border: 1px solid #ffffff;
            margin: 10px;
            border-radius: 38.3957px;
        }

        .left-droid{
            background: #FFFFFF;
            transform: rotate(-14.91deg);
        }

        .right-droid{
            background: #8807F7;
            transform: rotate(15deg);
        }
    }
}