.home-main {
  .header {
    // border: 1px solid red;
    position: absolute;
    width: 100%;
  }
  .products {
    // border: 1px solid blue;
    position: absolute;
    width: 100%;
    top: 620px;
  }

  .transparency{
    position: absolute;
    width: 100%;
    top: 1350px;
  }

  .investment{
    position: absolute;
    width: 100%;
    top: 1950px;
  }

  .access-money{
    position: absolute;
    width: 100%;
    top: 152em;
  }
}
