.home-main {
  .header {
    // border: 1px solid red;
    position: absolute;
    width: 100%;
  }
  .products {
    // border: 1px solid blue;
    position: absolute;
    width: 100%;
    top: 620px;
  }

  .transparency{
    position: absolute;
    width: 100%;
    top: 1350px;
  }

  .investment{
    position: absolute;
    width: 100%;
    top: 1950px;
  }

  .access-money{
    position: absolute;
    width: 100%;
    top: 152em;
  }

  .testimonials{
    position: absolute;
    width: 100%;
    top: 238em;
  }

  .partners{
    position: absolute;
    width: 100%;
    top: 280em;
    
  }

  .transactions{
    position: absolute;
    width: 100%;
    top: 318em;
    
  }

  .footer{
    position: absolute;
    width: 100%;
    top: 361em;
    
  }
}

@media screen and (max-width: 990px) {
  .home-main {
    .header {
      position: relative;
      width: 100%;
    }
    .products {
      position: relative;
      width: 100%;
      top: 0;
    }
  
    .transparency{
      position: relative; 
      width: 100%;
      top: 0;
    }
  
    .investment{
      position: relative;
      width: 100%;
      top: 0;
    }
  
    .access-money{
      position: relative;
      width: 100%;
      top: 0;
    }
  
    .testimonials{
      position: relative;
      width: 100%;
      top: 0;
    }
  
    .partners{
      position: relative;
      width: 100%;
      top: 0;
    }

    .transactions{
      position: relative;
      width: 100%;
      top: 0;
    }

    .footer{
      position: relative;
      width: 100%;
      top: 0;
    }
  }
}
