
.home-main{
.header{
    // border: 1px solid red;
    position: absolute;
    width: 100%;
   
}
.products{
    // border: 1px solid blue;
    position: absolute;
    width: 100%;
    top: 620px;
}
}