.investment-main {
  // border: 1px solid black;
  background: #fffdf2;
  font-family: "Cabinet Grotesk";

  .container {
    .hero-text {
      p {
        color: #3d0072;
        font-weight: 800;
        font-size: 50px;
        line-height: 100px;
        margin: 0;
        line-height: 128%;
      }

      span {
        color: #0d9488;
        font-weight: 800;
        font-size: 50px;
        line-height: 100px;
        margin: 0;
        line-height: 128%;
      }
    }

    .sub-text {
      margin: 20px 0;
      p {
        font-weight: 500;
        font-size: 20px;
        line-height: 50px;
        color: #3d0072;
      }
    }

    .btn-section {
      button {
        background: #ffffff;
        color: #8807f7;
        border-radius: 20px;
        border: 0.5px solid #8807f7;
        padding: 5px 20px;
      }
    }

    .image-section {
      img {
        width: 500px;
        position: absolute;
        right: 280px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .investment-main {
    .container {
      padding: 35px 0px;
      .row {
        .col-md-7 {
          text-align: center;

          .hero-text {
            padding: 0 10px;
          }

          .sub-text {
            text-align: justify;
            padding: 0 20px;

            p {
              line-height: 158%;
            }
          }
        }

        .col-md-5 {
          display: none;
        }
      }
    }
  }
}
