.testimonial-main {
  font-family: "Cabinet Grotesk";
  padding: 0 20px;
  .container {
    padding: 35px;

    .head-text {
      h1 {
        font-style: normal;
        font-weight: 800;
        font-size: 70px;
        line-height: 125.9%;
        color: #3d0072;
        margin: 0;

        span {
          color: #e8356d;
        }
      }

      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        color: #3d0072;
        margin: 0 0 40px  0;
      }
    }

    .image-section {
      img {
        width: 300px;
        height: 300px;
        border-radius: 10px;
      }
      .text {
        margin: 10px 0;
        p {
          font-size: 18px;
          font-weight: 600;
        }

        span {
          font-size: 16px;
        }
      }
    }
  }
}
