.transparency-container {
  margin: 20px 0;
  padding: 20px 0;

  .trn-details {
    padding: 20px;

    .hero-text {
      span {
        font-size: 46px;
        font-weight: 700;
        color: #3d0072;
        margin: 0;
      }

      p {
        font-size: 46px;
        font-weight: 700;
        color: #e8356d;
        margin: 0;
        padding: 0;
      }
    }

    .hero-subtext {
      margin: 30px 0;
      p {
        color: #3d0072;
      }
    }

    .button-section {
      .btn-submit {
        background: #8807f7;
        border-radius: 79.82px;
        padding: 5px 12px;
        color: #ffffff;
      }
    }
  }

  .form-section {
    border-radius: 50px ;
    background: #10001f;
    color: #ffffff;
    padding: 50px 20px 0 20px;
  
    // height: 450px;

    .form {
      display: flex;
      padding: 20px;

      .input-section {
        p {
          font-size: 20px;
          font-weight: 700;
          text-transform: capitalize;
        }

        .form-label {
          color: #9ca3af;
          font-size: 14px;
          margin: 0;
        }

        input {
          border-radius: 0;
          border-top: none;
          border-left: none;
          border-right: none;
          background: #10001f;
          box-shadow: none;
          color: #ffffff;
        }

        select {
          background: #10001f;
          box-shadow: none;
          color: #ffffff;
        }
      }
    }
  }

  .interest-section {
    // position: absolute;
    // right: 120px;
    // height: 350px;
    width: 60%;
    offset: 1;
    border-radius: 15px 15px 0 0;
    background: #ffffff;
    margin: 20px 20px 0 25px;
    padding: 20px 20px 0 20px;

    p,
    .label {
      color: #6b7280;
      font-size: 14px;
    }

    .amount {
      color: #3d0072;
      font-weight: 700;
    }

    .chart-section {
      // border: 1px solid black;

      height: 100px;
      background: linear-gradient(
        180deg,
        rgba(34, 197, 94, 0.31) 0%,
        rgba(34, 197, 94, 0) 100%
      );
    }

    .btn-section{
      margin: 10px 0;
      button{
        border-radius: 40px;
        background: #8807F7;
        color: #ffffff;
        font-size: 14px;
      }
    }
  }
}
